//banner
.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: $banner-title;
        font-weight: 900;
        text-align: center;
        margin: 0;
        padding: 0;
        color: $color-white;

        &--subtitle {
            font-size: 24px;
            color: #ffffff;
        }
    }

    &__title--bold {
        font-size: $banner-title;
        color: $color-brand;
        font-weight: 900 !important;
        position: relative;
        text-transform: uppercase;

    }

    &__title--bold-sec {
        font-size: $banner-title;
        color: $color-secoundary;
        font-weight: 900 !important;
        position: relative;
        text-transform: uppercase;

    }

    &__text {
        font-size: $regular-text;
        margin: 20px 0;
    }

    &__btn {
        margin: 20px 0 70px 0;
    }

}