//colors
$color-black: #10131A;
$color-brand: #1ABC9C;
$color-secoundary: #2196f3;
$color-brand-light: #E8F8F5;
$color-white: #ffffff;
$color-light-grey : #FCFCFA;
$color-light-grey2 : #F8F8F7;
$color-input-border : #e0e0e0;
$color-text : #333333;

// Heading and font-size
$banner-title : 50px;
$section-title : 34px;
$regular-text: 18px;

$line-height: 40px;
$font-weight: 400;