//colors
$color-black: #10131A;
$color-brand: #00e676;
$color-secoundary: #2196f3;
$color-brand-light: #FAF4FC;
$color-white: #ffffff;
$color-light-grey : #F6F9FC;
$color-input-border : #e0e0e0;

// Heading and font-size
$banner-title : 50px;
$section-title : 34px;
$regular-text: 22px;

$line-height: 40px;
$font-weight: 400;